<head>
<title>Tabla de Estudiantes</title>
</head>

<body>
<table border="1" width="50%">
<thead bgcolor="aqua">
<tr>
<th>Nombre</th>
<th>Edad</th>
<th>Carnet</th>
</tr>
</thead>

<tbody align="center">
<tr>
<td>Luis Suarez</td>
<td>22</td>
<td>45893</td>
</tr>

<tr>
<td>Leo Messi</td>
<td>35</td>
<td>36987</td>
</tr>

<tr>
<td>Roni Coleman</td>
<td>50</td>
<td>35874</td>
</tr>
</tbody>

</table>
</body>