<head>
<title>Tabla de administradores</title>
</head>

<body>
<table border="1" width="50%">
<thead bgcolor="red">
<tr>
<th>Nombre</th>
<th>Edad</th>
</tr>
</thead>

<tbody align="center">
<tr>
<td>Jose Perez</td>
<td>40</td>
</tr>

<tr>
<td>Raul Miranda</td>
<td>37</td>
</tr>

<tr>
<td>arnold Fuentes</td>
<td>55</td>
</tr>
</tbody>

</table>
</body>