*{
  margin:0px;
  padding:0px;
}

body{
background: lightgrey;
}

#container{
   width:1100px;
   margin:0px auto;
   border:1px solid black;
}

header{
   background:red;
   height:100px;
   width:100%;
   margin:0px;
   text-align: center;
   line-height: 100px;
}

nav{
   background: lightblue;
   height:50px;
   border-bottom:1px solid black;
}
                
nav ul li{
    float:left;
    list-style:none;
    margin:30px;
}

#content{
    float:left;
   width:100%;
    min-height:400px;
    background:green;
}

aside{
    float:left;
    width:20%;
    background:orange;
}

footer{
   background:black;
   color:white;
    text-align:center;
   height:50px;
    line-height:50px;
}